<section class="footer">
    <div class="footer-container container">
        <div class="footer-first-container">
            <svg class="footer-icon-logo" width="83" height="23">
                <use href="../img/icons/icons.svg#icon-logo">
                </use>
            </svg>
            <p class="footer-first-paragraf">Subscribe to our newsletter for the latest updates on our yoga clases and
                events.</p>
            <form class="footer-form" name="Your email here">
                <label class="footer-label">
                    <input class="footer-input" type="email" placeholder="Your email here">
                </label>
                <button class="footer-button" type="submit">Join</button>
            </form>
            <p class="footer-two-paragraf">By subscribing, you consent to our Privacy Policy and agree to receive
                updates.</p>
            <p class="footer-three-paragraf-end">© 2025 Yoga Studio. All rights reserved.</p>
        </div>
        <div class="footer-two-container">
            <p class="footer-container-paragraf">Quick Links</p>
            <ul class="footer-list">
                <li class="footer-team">Yoga Classes</li>
                <li class="footer-team">Team</li>
                <li class="footer-team">Pricing</li>
                <li class="footer-team">Contacts</li>
            </ul>
        </div>
        <div class="footer-two-container">
            <p class="footer-container-paragraf">Connect With Us</p>
            <ul class="footer-list">
                <li class="footer-team">
                    <a class="footer-item" href="#">
                    <svg width="24" height="24" aria-hidden="true">
                        <use href="../img/icons/icons.svg#icon-facebook"></use>
                    </svg>Facebook
                </a>
            </li>
                <li class="footer-team">
                    <a class="footer-item" href="#">
                        <svg width="24" height="24" aria-hidden="true">
                            <use href="../img/icons/icons.svg#icon-instagram"></use>
                        </svg>Instagram
                    </a>
                </li>
                <li class="footer-team">
                    <a class="footer-item" href="#">
                        <svg width="24" height="24" aria-hidden="true">
                            <use href="../img/icons/icons.svg#icon-linkedin"></use>
                        </svg>Linkedln
                    </a>
                </li>
                <li class="footer-team">
                    <a class="footer-item" href="#">
                        <svg width="24" height="24" aria-hidden="true">
                            <use href="../img/icons/icons.svg#icon-youtube"></use>
                        </svg>YouTube
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer-three-paragraf">© 2025 Yoga Studio. All rights reserved.</p>
    </div>
</section>
