<section class="gallery">
  <div class="container">
    <h3>Breathe in the Space</h3>
    <p>
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              /img/gallery/anjaneyasana-min.jpg    1x,
              /img/gallery/anjaneyasana_2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/anjaneyasana_tab-min.jpg    1x,
              /img/gallery/anjaneyasana_2x_tab-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/anjaneyasana_mob-min.jpg    1x,
              /img/gallery/anjaneyasana_2x_mob-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/anjaneyasana-min.jpg"
            alt="Low Lunge Pose"
            class="gallery_image"
            width="421.33"
            height="448"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              /img/gallery/sukhasana-min.jpg    1x,
              /img/gallery/sukhasana_2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/sukhasana_tab-min.jpg    1x,
              /img/gallery/sukhasana_2x_tab-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/sukhasana_mob-min.jpg    1x,
              /img/gallery/sukhasana_2x_mob-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/sukhasana-min.jpg"
            alt="Easy Pose"
            class="gallery_image"
            width="421.33"
            height="448"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              /img/gallery/fitnesscenter-min.jpg    1x,
              /img/gallery/fitnesscenter_2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/fitnesscenter_tab-min.jpg    1x,
              /img/gallery/fitnesscenter_2x_tab-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/fitnesscenter_mob-min.jpg    1x,
              /img/gallery/fitnesscenter_2x_mob-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/fitnesscenter-min.jpg"
            alt="Fitness center"
            class="gallery_image"
            width="421.33"
            height="448"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              /img/gallery/yogastudio-min.jpg    1x,
              /img/gallery/yogastudio_2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/yogastudio_tab-min.jpg    1x,
              /img/gallery/yogastudio_2x_tab-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/yogastudio_mob-min.jpg    1x,
              /img/gallery/yogastudio_2x_mob-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/yogastudio-min.jpg"
            alt="Yoga studio"
            class="gallery_image"
            width="421.33"
            height="448"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              /img/gallery/meditation-min.jpg    1x,
              /img/gallery/meditation_2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/meditation_tab-min.jpg    1x,
              /img/gallery/meditation_2x_tab-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/meditation_mob-min.jpg    1x,
              /img/gallery/meditation_2x_mob-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/gallery/meditation-min.jpg"
            alt="Reflection"
            class="gallery_image"
            width="421.33"
            height="448"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              /img/gallery/stillness-min.jpg    1x,
              /img/gallery/stillness_2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/stillness_tab-min.jpg    1x,
              /img/gallery/stillness_2x_tab-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/stillness_mob-min.jpg    1x,
              /img/gallery/stillness_2x_mob-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="../img/gallery/stillness-min.jpg"
            alt="Stillness"
            class="gallery_image"
            width="421.33"
            height="448"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
