<header class="pege-header">
    <div class="container pege-header-container">
        <button type="submit"   class="btn-burger">
            <svg class="icon-burger" width="24" height="24">
                <use href="../img/icons/icons.svg#icon-menu">
                </use>
            </svg>
        </button>
        <nav class="nav-heder">
            <ul class="nav-header-list">
                <li><a class="link-nav-heder current" href="#" >Yoga Classes</a></li>
                <li><a class="link-nav-heder" href="#">Team</a></li>
                <li><a class="link-nav-heder" href="#">Testimonials</a></li>
                <li><a class="link-nav-heder" href="#">Pricing</a></li>
                <li><a class="link-nav-heder" href="">Contacts</a></li>
            </ul>
        </nav>
    
        
            <svg class="icon-logo" width="83" height="23">
                <use href="./img/icons/icons.svg#icon-logo">
                </use>
            </svg>
        
        <button type="submit" class="btn-join_now">Join Now</button>
        
    </div>
</header>