
    <section class="hero section-hero">
        <div class="container container-hero">
            <picture>
                <source srcset="
                                            /img/hero/yogabloom_desktop.jpg 1x,
                                            /img/hero/yogabloom_desktop-x.jpg 2x"
                                            media="(min-width: 1336px)">
                <source srcset="
                                            /img/hero/yogabloom_tab.jpg 1x,
                                            /img/hero/yogabloom_tab-x.jpg 2x"
                                            media="(min-width: 768px) and (max-width: 1335px)">
                <source srcset="
                                            /img/hero/yogabloom_mob.jpg 1x,
                                            /img/hero/yogabloom_mob-x.jpg 2x"
                                            media="(max-width: 767px)">
                <img class="img-section-hero" src="../img/hero/Yogabloom_mob.jpg" alt="yogaBloom-img" >
            </picture>
            <div class="hero-layout">
                <h1 class="hero-title">Transform Your Life with Our Yoga Courses</h1>
            
                <div class="hero-content">
                    <p class="txt-hero">
                        Discover the harmony of mind and body through our expertly
                        designed yoga programs. Join a community dedicated to
                        wellness and personal growth.
                    </p>
                    <ul class="hero-list">
                        <li><a href="#" class="btn-join_burger">Join</a></li>
                        <li><a href="#" class="btn-learn_more">Learn More</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        </section>
