
<section class="pricing">
    <div class="container">
        <div class="container-pricing-two">
            <h4 class="pricing-wrap">Affordable</h4>
            <h3 class="pricing-title">Pricing Plans</h3>
            <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
        </div>
        <div class="container-pricing-three">
                    <div class="container-price">
                        <h4 class="pricing-heading">One Session</h4>
                        <h1 class="pricing-price">$10</h1>
                    <ul class="pricing-menu">
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">1 group session</p>
                            </div>
                        </li>
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"></use>
                                </svg>
                                <p class="pricing-text-two">10% discount for next 2 Sessions</p>
                            </div>
                        </li>
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">Community support group</p>
                            </div>
                        </li>
                    <div class="pricing-actions">
                        <button class="pricing-btn" type="button">Join</button>
                    </div>
            </div>
                    <div class="container-price">
                        <h4 class="pricing-heading">8 Sessions Package</h4>
                        <h1 class="pricing-price">$65</h1>
                    <ul class="pricing-menu">
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">6 Group Sessions</p>
                            </div>
                        </li>
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">2 Individual Sessions</p>
                            </div>
                        </li>
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">Community support group</p>  </div>
                        </li>
                    </ul>
                    <div class="pricing-actions">
                        <button class="pricing-btn" type="button">Join</button>
                    </div>
                </div>
                    <div class="container-price">
                        <h4 class="pricing-heading">12 Sessions Package</h4>
                        <h1 class="pricing-price">$80</h1>
                    <ul class="pricing-menu">
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">8 Group Sessions</p>
                            </div>
                        </li>
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">4 Individual Sessions</p>
                            </div>
                        </li>
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">Monthly yoga challenges</p>
                            </div>
                        </li>
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">Exclusive member discounts</p>
                            </div>
                        </li>
                        <li class="pricing-item">
                            <div class="pricing-list">
                                <svg class="pricing-check" width="25" height="25">
                                    <use href="/src/img/icons/icons.svg#icon-x"> </use>
                                </svg>
                                <p class="pricing-text-two">Community support group</p>  </div>
                        </li>
                    </ul>
                    <div class="pricing-actions">
                        <button type="button" class="pricing-btn">Join</button>
                    </div>
                </div>
                </li>
            </ul>
        </div>
    </div>
</section>

