<section class="pricing">
    <div class="container-pricing">
        <p class="pricing-">Affordable</p>
        <h3 class="pricing-plans">Pricing Plans</h3>
        <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
        <div>
            <ul>
                <li>
                    <h4 class="pricing-content">One Session</h4>
                    <h2 class="pricing-content-two">$10</h2>
                    <svg class="pricing-img">
                        <use></use>
                    </svg>
                    <p class="">1 group session</p>
                    <svg>
                        <use></use>
                    </svg>
                    <p>10% discount for next 2 Sessions</p>
                    <svg>
                        <use></use>
                    </svg>
                    <p>Community support group</p>
                    <button>Join</button>
                </li>
                <li>
                    <h4>8 Sessions Package</h4>
                    <h2>$65</h2>
                    <svg>
                        <use></use>
                    </svg>
                    <p>6 Group Sessions</p>
                    <svg>
                        <use></use>
                    </svg>
                    <p>2 Individual Sessions</p>
                    <svg>
                        <use></use>
                    </svg>
                    <p>Community support group</p>
                    <button>Join</button>
                </li>
                <li>
                    <h4>12 Sessions Package</h4>
                    <h2>$80</h2>
                    <svg>
                        <use></use>
                    </svg>
                    <p>8 Group Sessions</p>
                    <svg>
                        <use></use>
                    </svg>
                    <p>4 Individual Sessions</p>
                    <svg>
                        <use></use>
                    </svg>
                    <p>Monthly yoga challenges</p>
                    <svg>
                        <use></use>
                    </svg>
                    <p>Exclusive member discounts</p>
                    <svg>
                        <use></use>
                    </svg>
                    <p>Community support group</p>
                    <button>Join</button>
                </li>
            </ul>
        </div>
    </div>
</section>
