<section class="pricing" id="mainpage-section-pricing">
  <div class="container">
    <div class="container-pricing-two">
      <p class="pricing-wrap">Affordable</p>
      <h3 class="pricing-title">Pricing Plans</h3>
      <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
    </div>

    <div class="container-pricing-three">
      <ul class="pricing-menu">
        <li class="pricing-item">
          <div class="container-price">
            <div class="price-wrap">
              <h4 class="pricing-heading">One Session</h4>
              <p class="pricing-price">$10</p>
            </div>
            <div class="menu-inner-wrap">
              <ul class="pricing-menu-inner">
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">1 group session</p>
                </li>
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">
                    10% discount for next 2 Sessions
                  </p>
                </li>
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">Community support group</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-actions">
            <button class="pricing-btn" type="button">Join</button>
          </div>
        </li>

        <li class="pricing-item">
          <div class="container-price">
            <div class="price-wrap">
              <h4 class="pricing-heading">8 Sessions Package</h4>
              <p class="pricing-price">$65</p>
            </div>
            <div class="menu-inner-wrap">
              <ul class="pricing-menu-inner">
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">6 Group Sessions</p>
                </li>
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">2 Individual Sessions</p>
                </li>
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">Community support group</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-actions">
            <button class="pricing-btn" type="button">Join</button>
          </div>
        </li>

        <li class="pricing-item pricing-item-two">
          <div class="container-price container-price-two">
            <div class="price-wrap price-wrap-two">
              <h4 class="pricing-heading">12 Sessions Package</h4>
              <p class="pricing-price">$80</p>
            </div>
            <div class="menu-inner-wrap price-wrap-two">
              <ul class="pricing-menu-inner">
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">8 Group Sessions</p>
                </li>
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">4 Individual Sessions</p>
                </li>
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">Monthly yoga challenges</p>
                </li>
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">Exclusive member discounts</p>
                </li>
                <li class="pricing-list-item">
                  <svg class="pricing-check" width="25" height="25">
                    <use href="/img/icons/icons.svg#icon-check_mark"></use>
                  </svg>
                  <p class="pricing-text-two">Community support group</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="pricing-actions">
            <button class="pricing-btn" type="button">Join</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
