<section class="team-section">
  <div class="team-section-container">
    <div class="team-description">
      <p class="team-meet">Meet</p>
      <h2 class="team-title">Our Team</h2>
      <p class="team-description-text">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>
    <ul class="team-list">
      <li class="team-member">
        <picture>
          <source
            srcset="
              /img/gallery/Team-1-min.jpg    1x,
              /img/gallery/Team-1-2x-min.jpg 2x
            "
            media="(min-width: 1158px)"
          />

          <source
            srcset="
              /img/gallery/Team-1-tab-min.jpg    1x,
              /img/gallery/Team-1-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/gallery/Team-1-mob-min.jpg    1x,
              /img/gallery/Team-1-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="/img/gallery/Team-1-min.jpg"
            alt="Liam Johnson"
            width="421.33"
            height="395"
          />
        </picture>
        <p class="team-member-name">Liam Johnson</p>
        <p class="team-member-job">Yoga Instructor</p>
        <p class="team-member-text">
          Emma has over 10 years of experience in Hatha and Vinyasa yoga.
        </p>
      </li>

      <li class="team-member">
        <picture>
          <source
            srcset="
              /img/gallery/Team-2-min.jpg    1x,
              /img/gallery/Team-2-2x-min.jpg 2x
            "
            media="(min-width: 1158px)"
          />

          <source
            srcset="
              /img/gallery/Team-2-tab-min.jpg    1x,
              /img/gallery/Team-2-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/gallery/Team-2-mob-min.jpg    1x,
              /img/gallery/Team-2-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="/img/gallery/Team-2-min.jpg"
            alt="Emma Stone"
            height="395"
          />
        </picture>
        <p class="team-member-name">Emma Stone</p>
        <p>Meditation Coach</p>
        <p class="team-member-text">
          Liam specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
      </li>

      <li class="team-member">
        <picture>
          <source
            srcset="
              /img/gallery/Team-3-min.jpg    1x,
              /img/gallery/Team-3-2x-min.jpg 2x
            "
            media="(min-width: 1158px)"
          />

          <source
            srcset="
              /img/gallery/Team-3-tab-min.jpg    1x,
              /img/gallery/Team-3-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/gallery/Team-3-mob-min.jpg    1x,
              /img/gallery/Team-3-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="/img/gallery/Team-3-min.jpg"
            alt="Sophia Lee"
            height="395"
          />
        </picture>
        <p class="team-member-name">Sophia Lee</p>
        <p class="team-member-job">Pilates Trainer</p>
        <p class="team-member-text">
          Sophia combines Pilates with yoga for a holistic fitness approach.
        </p>
      </li>

      <li class="team-member">
        <picture>
          <source
            srcset="
              /img/gallery/Team-4-min.jpg    1x,
              /img/gallery/Team-4-2x-min.jpg 2x
            "
            media="(min-width: 1158px)"
          />

          <source
            srcset="
              /img/gallery/Team-4-tab-min.jpg    1x,
              /img/gallery/Team-4-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/gallery/Team-4-mob-min.jpg    1x,
              /img/gallery/Team-4-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="/img/gallery/Team-4-min.jpg"
            alt="Noah Brown"
            height="395"
          />
        </picture>
        <p class="team-member-name">Noah Brown</p>
        <p class="team-member-job">Yoga Therapist</p>
        <p class="team-member-text">
          Noah focuses on therapeutic yoga to aid recovery and enhance
          well-being.
        </p>
      </li>

      <li class="team-member">
        <picture>
          <source
            srcset="
              /img/gallery/Team-5-min.jpg    1x,
              /img/gallery/Team-5-2x-min.jpg 2x
            "
            media="(min-width: 1158px)"
          />

          <source
            srcset="
              /img/gallery/Team-5-tab-min.jpg    1x,
              /img/gallery/Team-5-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/gallery/Team-5-mob-min.jpg    1x,
              /img/gallery/Team-5-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img src="/img/gallery/Team-5-min.jpg" alt="Ava Green" height="395" />
        </picture>
        <p class="team-member-name">Ava Green</p>
        <p class="team-member-job">Fitness Trainer</p>
        <p class="team-member-text">
          Ava integrates strength training with yoga to promote overall fitness.
        </p>
      </li>

      <li class="team-member">
        <picture>
          <source
            srcset="
              /img/gallery/Team-6-min.jpg    1x,
              /img/gallery/Team-6-2x-min.jpg 2x
            "
            media="(min-width: 1158px)"
          />

          <source
            srcset="
              /img/gallery/Team-6-tab-min.jpg    1x,
              /img/gallery/Team-6-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/gallery/Team-6-mob-min.jpg    1x,
              /img/gallery/Team-6-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="/img/gallery/Team-6-min.jpg"
            alt="Clark Thomas"
            height="395"
          />
        </picture>
        <p class="team-member-name">Clark Thomas</p>
        <p class="team-member-job">Fitness Trainer</p>
        <p class="team-member-text">
          Clark specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
      </li>
    </ul>
  </div>
</section>
