<section class="testimonials">
    <div>
        <h3>Testimonials</h3>
        <p>What our happy clients say</p>
        <ul>
            <li>
                <div>
                    <p>YogaBloom is a true sanctuary for the mind and body. The classes are thoughtfully guided, the atmosphere is calming, and
                        every session leaves me feeling more centered, flexible, and recharged. Highly recommended for anyone seeking balance
                            and inner peace.</p>
                    <picture>

                    </picture>
                </div>
                <div>
                    <h3>Donna Norman</h3>
                    <p>Yoga Enthusiast</p>
                </div>
            </li>
            <li>
                <div>
                    <p>I’ve tried many yoga studios, but YogaBloom stands out with its welcoming energy and inspiring instructors. Every class
                        feels like a journey inward. It’s now my favorite part of the week.</p>
                    <picture>
            
                    </picture>
                <div>
                    <h3>Sophie Delgado</h3>
                    <p>Marketing Specialist</p>
                </div>
            </li>
            <li>
                <div>
                    <p>YogaBloom helped me reconnect with myself. The sessions are well-paced, the space is beautiful, and the community is
                        truly supportive. A perfect place to grow both physically and mentally.</p>
                    <picture>
            
                    </picture>
                </div>
                <div>
                    <h3>Rachel Kimura</h3>
                    <p>Freelance Illustrator</p>
                </div>
            </li>
            <li>
                <div>
                    <p>Whether you're new to yoga or a long-time practitioner, YogaBloom offers something special. The mindful approach and
                        soothing guidance make each class a peaceful escape from  daily stress.</p>
                    <picture>
                        
                    </picture>
                </div>
                <div>
                    <h3>Emma L. Hart</h3>
                    <p>University Student & Part-time Barista</p>
                </div>
            </li>
        </ul>
    </div>
</section>
