<section class="yoga-classes">
    
 <div class="container container-mob">
    <div class="text-block">
<p class="explore">Explore
</p>
<h2 class="yoga-title">Discover Our Most Popular Yoga Programs
</h2>
<p class="yoga-text">Join our community and elevate your practice with our expertly designed yoga programs. Each course is tailored to meet various skill levels and personal goals.
</p>
    </div>
<ul class="yoga-list">
    <li class="yoga-list-item">
          <img class="yoga-img"  
          src="/img/gallery/beginer_mob.jpg"
               srcset="
               /img/gallery/beginer_mob.jpg 768w,
               /img/gallery/beginer_mob@2x.jpg 768w 2x, 
               /img/gallery/beginer_tab.jpg 1336w,
               /img/gallery/beginer_tab@2x.jpg 1336w 2x, 
               /img/gallery/beginer.jpg 1800w,
                /img/gallery/beginer@2x.jpg 1800w 2x,
               "
               sizes="
               (max-width: 768px) 100vw,
               (max-width: 1336px) 100vw,
                (max-width: 1800px) 100vw,
               "
               alt="Beginner Yoga" width="343" height="198">
                
                
                <p class="yoga-type-title text"></p>
                <p class="yoga-type-text">Learn the basics of yoga in a supportive environment.</p>
                
    </li>

    <li class="yoga-list-item">
          <img class="yoga-img"  
          src="/img/gallery/flow_mob.jpg"
               srcset="
               /img/gallery/flow_mob.jpg 768w,
               /img/gallery/flow_mob@2x.jpg 768w 2x, 
                /img/gallery/flow_tab.jpg 1336w,
                /img/gallery/flow_tab@2x.jpg 1336w 2x, 
               /img/gallery/flow.jpg 1800w,
                /img/gallery/flow@2x.jpg 1800w 2x,
               "
               sizes="
               (max-width: 768px) 100vw,
               (max-width: 1336px) 100vw,
                (max-width: 1800px) 100vw,
               "
               
                alt="Vinyasa Flow" width="343" height="198">
               
                <p class="yoga-type-title">Vinyasa Flow: Energize Your Body and Mind</p>
                <p class="yoga-type-text">Experience a dynamic sequence that connects breath and movement.</p>
               
            </li>
    <li class="full">
          <img class="last-item"  
          src="/img/gallery/restorative_mob.jpg"
               srcset="
               /img/gallery/restorative_mob.jpg 768w,
               /img/gallery/Restorative_mob@2x.jpg 768w 2x, 
                /img/gallery/Restorative_tab.jpg 1336w,
                /img/gallery/Restorative_tab@2x.jpg 1336w 2x, 
               /img/gallery/Restorative.jpg 1800w,
                /img/gallery/Restorative@2x.jpg 1800w 2x,
               "
               sizes="
               (max-width: 768px) 100vw,
               (max-width: 1336px) 100vw,
                (max-width: 1800px) 100vw,
               "
               
                alt="Restorative Yoga" width="343" height="198">
               
                <p class="yoga-type-title">Restorative Yoga: Deep Relaxation and Healing</p>
                <p class="yoga-type-text">Unwind and rejuvenate with gentle poses and mindfulness.</p>
               
            </li>
</ul>

<button type="button" class="join-btn"></button>
 </div>

</section>
