.footer {
  padding: 48px 0;
  background: var(--color-scheme-1-background);
}

.footer-container {
  border-radius: 16px;
  background: var(--color-scheme-1-foreground);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 48px;
  padding: 32px 32px;
}

.footer-first-container {
  display: flex;
  flex-direction: column;
}

.footer-icon-logo {
  margin-bottom: 20px;
  display: block;
  fill: var(--color-scheme-1-text);
}

.footer-first-paragraf {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  display: block;
  fill: var(--color-scheme-1-text);
}

.footer-two-paragraf {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-top: 12px;
}

.footer-three-paragraf {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-top: 24px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-input {
  padding-left: 12px;
  border: 1xp solid var(--opacity-transparent);
  border-radius: 12px;
  width: 279px;
  height: 42px;
}

.footer-button {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  width: 279px;
  height: 46px;
}

.footer-three-paragraf-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
}

.footer-two-container-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footer-container-paragraf {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
}

.footer-team {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
}

.footer-team-list {
  color: var(--color-scheme-1-text);
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 0;
  }

  .footer-container {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-first-container {
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
  }

  .footer-icon-logo {
    margin-bottom: 24px;
    width: 84px;
    height: 36px;
  }

  .footer-first-paragraf {
    margin-bottom: 24px;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    border: 1px solid var(--opacity-transparent);
    border-radius: 12px;
    width: 546px;
  }

  .footer-button {
    border: 1px solid var(--opacity-transparent);
    border-radius: 100px;
    width: 78px;
  }

  .footer-two-container-wrap {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .footer-two-container {
    width: calc((100% - 40px) / 2);
  }
}

@media screen and (min-width: 1336px) {
  .footer {
    padding: 64px 0;
  }

  .footer-container {
    max-width: 100%;
    width: 1312px;
    flex-direction: row;
    gap: 250px;
  }

  .footer-two-container-wrap {
    width: 371px;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .footer-three-paragraf {
    display: none;
  }

  .footer-team {
    margin-bottom: 16px;
  }

  .footer-input {
    width: 476px;
  }

  .footer-button {
    width: 78px;
  }
}
