*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

:root {
    --color-scheme-1-background: var(--color-hawkes-blue-lighter);
    --color-neutral-darkest: #0d0b0a;
    --color-scheme-1-border: var(--opacity-neutral-darkest-15);
    --color-scheme-1-text: var(--color-neutral-darkest);
    --color-neutral-lighter: #dadada;
    --color-white: #fff;
    --color-neutral-lightest: #f2f2f2;
    --color-neutral-light: #b6b5b5;
    --color-neutral: #868584;
    --color-neutral-dark: #555453;
    --color-neutral-darker: #252322;
    --opacity-transparent: rgba(255, 255, 255, 0);
    --color-scheme-1-foreground: var(--color-hawkes-blue-lightest);
    --color-scheme-1-accent: var(--color-neutral-darkest);
    --opacity-white-5: rgba(255, 255, 255, 0.05);
    --opacity-white-10: rgba(255, 255, 255, 0.1);
    --opacity-white-15: rgba(255, 255, 255, 0.15);
    --opacity-white-20: rgba(255, 255, 255, 0.2);
    --opacity-white-30: rgba(255, 255, 255, 0.3);
    --opacity-white-40: rgba(255, 255, 255, 0.4);
    --opacity-white-50: rgba(255, 255, 255, 0.5);
    --opacity-white-60: rgba(255, 255, 255, 0.6);
    --opacity-neutral-darkest-5: rgba(13, 11, 10, 0.05);
    --opacity-neutral-darkest-10: rgba(13, 11, 10, 0.1);
    --opacity-neutral-darkest-15: rgba(13, 11, 10, 0.15);
    --opacity-neutral-darkest-20: rgba(13, 11, 10, 0.2);
    --opacity-neutral-darkest-30: rgba(13, 11, 10, 0.3);
    --opacity-neutral-darkest-40: rgba(13, 11, 10, 0.4);
    --opacity-neutral-darkest-50: rgba(13, 11, 10, 0.5);
    --opacity-neutral-darkest-60: rgba(13, 11, 10, 0.6);
    --color-hawkes-blue-lightest: #f8fbfe;
    --color-hawkes-blue-lighter: #dfebeb;
    --color-hawkes-blue-light: #ddebeb;
    --color-hawkes-blue: #c2d9fc;
    --color-hawkes-blue-dark: #9badc9;
    --color-hawkes-blue-darker: #4d5664;
    --color-hawkes-blue-darkest: #3a414b;
    --color-drover-lightest: #f2fafa;
    --color-drover-lighter: #fefdf0;
    --color-drover-light: #fcfacb;
    --color-drover: #fcf9b6;
    --color-drover-dark: #c9c791;
    --color-drover-darker: #646348;
    --color-drover-darkest: #4b4a36;
    --color-tuft-bush-lightest: #fffbf9;
    --color-tuft-bush-lighter: #fff7f4;
    --color-tuft-bush-light: #ffe4db;
    --color-tuft-bush: #ffd9cc;
    --color-tuft-bush-dark: #ccada3;
    --color-tuft-bush-darker: #665651;
    --color-tuft-bush-darkest: #4c413d;
    --color-scheme-2-text: var(--color-neutral-darkest);
    --color-scheme-2-background: var(--color-hawkes-blue-lightest);
    --color-scheme-2-border: var(--opacity-neutral-darkest-15);
    --color-scheme-2-accent: var(--color-neutral-darkest);
    --color-scheme-2-foreground: var(--color-hawkes-blue-lighter);
    --color-scheme-3-text: var(--color-neutral-darkest);
    --color-scheme-3-background: var(--color-drover-lightest);
    --color-scheme-3-border: var(--opacity-neutral-darkest-15);
    --color-scheme-3-accent: var(--color-neutral-darkest);
    --color-scheme-3-foreground: var(--color-drover-lighter);
    --color-scheme-4-text: var(--color-neutral-darkest);
    --color-scheme-4-background: var(--color-drover-lighter);
    --color-scheme-4-border: var(--opacity-neutral-darkest-15);
    --color-scheme-4-accent: var(--color-neutral-darkest);
    --color-scheme-4-foreground: var(--color-drover-lightest);
}
/*section footer*/

.footer {
    padding: 48px 0;
    background: var(--color-scheme-1-background);
}

.footer-container {
    border-radius: 16px;
    background: var(--color-scheme-1-foreground);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.footer-first-container {
    margin: 32px 32px 0 32px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-icon-logo {
    margin-bottom: 20px;
    display: block;
    fill: var(--color-scheme-1-text);
}

.footer-first-paragraf {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-1-text);
}

.footer-three-paragraf {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-1-text);
    margin-top: 24px;
}

.footer-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-input {
    border: 1px solid var(--opacity-transparent);
    border-radius: 12px;
    width: 279px;
    height: 42px;
}

.footer-button {
    border: 1px solid var(--opacity-transparent);
    border-radius: 100px;
    width: 279px;
    height: 46px;
}

.footer-two-paragraf {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    color: var(--color-scheme-1-text);
    margin-top: 12px;
}

.footer-three-paragraf {
    margin-bottom: 32px;
    width: 275px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-1-text);
}

.footer-two-container {
    width: 275px;
}

.footer-container-paragraf {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-1-text);
}

.footer-three-paragraf-end {
    display: none;
}

.footer-team {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-1-text);
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 12px;
}

/*media section footer*/

@media screen and (min-width: 768px) {
    .footer-container {
        width: 704px;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
    }

    .footer-first-container {
        display: flex;
        align-items: first baseline;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
    }

    .footer-icon-logo {
        margin-bottom: 24px;
    }

    .footer-first-paragraf {
        margin-bottom: 24px;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-input {
        border: 1px solid var(--opacity-transparent);
        border-radius: 12px;
        width: 546px;
    }

    .footer-button {
        border: 1px solid var(--opacity-transparent);
        border-radius: 100px;
        width: 78px;
    }

    .footer-two-container {
    }
}

/* Desktop */
@media screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 128px;
        border: 0px solid var(--color-scheme-1-border);
        border-radius: 16px;
        padding: 48px;
        width: 1312px;
    }

    .footer-first-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
    }
}