

/* project */
.page-header {
  padding: 15px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-3-text);
  background: var(--color-scheme-3-background);
}

.page-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 375px;
}

.nav-header-list {
  display: none;
}

.btn-burger {
  display: block;
  position: absolute;
  top: 20px;
  left: 16px;
  padding: 0;
  border: none;
  background: transparent;
  text-align: center;
}

.icon-logo {
  width: 84px;
  height: 36px;
  fill: var(--color-scheme-3-text);
  background-color: var(--color-scheme-1-foreground);
}

.icon-logo:hover,
.icon-logo:focus {
  fill: var(--color-scheme-1-foreground);
  background-color: var(--color-scheme-1-text);
}

.btn-join_now {
  display: none;
}

.btn-join {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var (--color-hawkes-blue);
  border-radius: 100px;
  width: 86px;
  height: 34px;
  background: var(--color-hawkes-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
}

.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block;
  z-index: 1000;
  padding: 24px 16px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.burger-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
}

/* button-close */
.close_button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 8px;
  left: 32px;
  width: 48px;
  height: 48px;
  background-color: var(--color-scheme-1-foreground);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close_button:hover .icon-close,
.close_button:focus .icon-close {
  fill: var(--color-scheme-1-foreground);
}

.close_button:hover,
.close_button:focus {
  background-color: var(--color-scheme-1-text);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-close {
  fill: var(--color-scheme-1-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

/* burger-menu*/
.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  height: 100vh;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0. 2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu.is-open {
  transform: translateY(0);
}

.burger-menu-container {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-scheme-1-foreground);
}

.burger-menu-heder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.nav-burger-list {
  padding: 15px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-3-text);
  background: var(--color-scheme-3-background);
  margin-bottom: 276px;
}

.btn-join_now {
  display: none;
}

.btn-join_burger {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-hawkes-blue);
  border-radius: 100px;
  padding: 10px 24px;
  width: 343px;
  height: 46px;
  background: var(--color-hawkes-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
}

@media screen and (min-width: 768px) {
  .page-header-container {
    width: 768px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .btn-join {
    display: none;
  }

  .nav-header-list {
    display: none;
  }

  .btn-join_now {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var (--color-hawkes-blue);
    border-radius: 100px;
    width: 105px;
    height: 42px;
    background: var(--color-hawkes-blue);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
  }

  .burger-menu-container {
    width: 748px;
  }

  .nav-burger-list>.btn-join_burger {
    display: none;
  }

  .nav-burger-list>.btn-join {
    width: 204px;
    height: 46px;
  }


}

@media screen and (min-width: 1336px) {

  .burger-menu,
  .btn-burger {
    display: none;
  }

  .page-header-container {
    width: 1312px;
    justify-content: space-around;
  }

  .link-nav-heder {
    display: block;
    color: var(--color-scheme-3-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-nav-heder.current {
    position: relative;
  }

  .current {
    white-space: nowrap;
  }

  .link-nav-heder.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--opacity-neutral-darkest-50);
  }

  .btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon-logo {
    display: block;
  }

  .nav-header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-right: 129px;
  }

  .nav-header-list>.btn-join {
    display: none;
  }

  .nav-header-list>.btn-join_now {
    padding: 8px 20px;
    width: 105px;
    height: 42px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1335px) {
  .nav-header-list {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--navy-blue-modal);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 375px;
  min-height: 720px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--color-scheme-1-background);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 64px 16px 112px 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.title-modal {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 32px;
}

.modal-txt {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-2-text);
  margin-bottom: 8px;
}

.price {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-2-text);
  margin-bottom: 32px;
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.lable_modal {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-1-text);
}

.form-input {
  border: 1px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  width: 343px;
  height: 42px;
  background: var(--opacity-neutral-darkest-5);
}

.btn_go_to_checkout {
  border: 1px solid var(--color-hawkes-blue);
  border-radius: 100px;
  padding: 10px 24px;
  width: 343px;
  height: 46px;
  background: var(--color-hawkes-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
}