/* pricing */

.pricing {
  background: #f2fafa;
  padding: 64px 16px;
}

@media screen and (min-width: 768px) {
  .pricing {
    padding: 40px 32px;
  }
}

@media screen and (min-width: 1336px) {
  .pricing {
    padding: 112px 64px;
  }
}

/* head */

.container-pricing-two {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.pricing-wrap {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0d0b0a;
}

.pricing-title {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}

.pricing-text {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .container-pricing-two {
    gap: 16px;
  }
  
  .pricing-text {
    font-size: 18px;
  }  
}

@media screen and (min-width: 1336px) {
  
}


/* menu */

.container-pricing-three {
  
}

.pricing-menu {

}

.pricing-item {

}


/* list */

.container-price {
  border: 0px solid rgba(13, 11, 10, 0.15);
  border-radius: 16px;
  padding: 32px 24px;
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    background: #dfebeb;
    margin-bottom: 32px;

}

.pricing-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}

.pricing-price {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-top: 8px;
  margin-bottom: 24px;
}

.pricing-list {
  display: flex;
  flex-direction: row;
  
}

.pricing-check {
}

.pricing-text-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  margin-left: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .container-pricing-three {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px;
    }
  
    .container-price {
      padding: 32px;
      flex: 1 1 calc(33.333% - 16px);
  
    }
  
    .pricing-heading {
      font-size: 22px;
    }

  
    .pricing-price {
      font-size: 72px;
    }
  
}

@media screen and (min-width: 1336px) {
  .container-pricing-three {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .container-price {
    padding: 32px;
    flex: 1 1 calc(33.333% - 16px);
    
  }

  .pricing-list {
    gap: 32px;
  }

}

/* btn */

.pricing-actions {}

.pricing-btn {
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 271px;
  height: 46px;
  background: #c2d9fc;
  margin-top: 24px;
}

.pricing-btn:hover {
  background-color: rgba(13, 11, 10, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
}

.pricing-btn:active {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .pricing-btn {
    width: 320px;
    height: 46px;
  }
}

@media screen and (min-width: 1336px) {
  .pricing-btn {
    width: 357px;
    height: 46px;
  }
}
