.team-section {
  background-color: #f2fafa;
  padding-top: 64px;
  padding-bottom: 64px;
}

.team-section-container {
  
  margin: 0 auto;
  
        
}


.team-meet {font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #0d0b0a;
margin-bottom: 12px;
}

.team-title {font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #0d0b0a;
margin-bottom: 20px;
}

.team-description-text {font-weight: 400;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: #0d0b0a;
margin-bottom: 48px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.team-member {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 343px;
   
    
}

.team-member-picture-last {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
border-radius: 16px;
}


.team-member-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-top: 20px;
}

.team-member-job {font-weight: 400;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: #0d0b0a;
margin-bottom: 12px;
}

.team-member-text {font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 20px;

}


.team-networks-list {
  display: flex;
  gap: 14px;
  margin-top: 20px
}

.team-networks-item {
  fill: #0d0b0a;
  cursor: pointer;
}

.team-networks-item:hover,
.team-networks-item:focus {
  transform: scale(1.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-icon-last {box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
 }


.team-section img {border-radius: 16px;
}




@media screen and (min-width: 768px) {
  .team-section-container {
    max-width: 768px;
       
    
  }

    .team-description {
      width: 100%;
    }

  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100% - 24px) / 2);

  }

    .team-networks-icon-last {
      box-shadow: none
    }

    


    .team-member-picture-last {
       box-shadow: none
          
        }

      
     .team-section img {
      width: 340px;
      height: 395px;
      object-fit: cover;
        }     


      }




@media screen and (min-width: 1336px) {
  .team-list {
      gap: 67px 24px;
      flex-basis: calc((100% - 48px) / 3);
  
    }

  .team-section-container {
      align-items: center;
      justify-content: center;
      max-width: 1440px;
      padding-top: 112px;
      padding-bottom: 112px;
    }

    
  
  .team-section img {
      width: 100%;
      aspect-ratio: 421 / 410;
      object-fit: cover;
      height: auto;
             
    }

     
}